@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    string? nomProfil = this.Context.User.Identity is null ? string.Empty : 
        this.Context.User.Identity.Name is null ? string.Empty : this.Context.User.Identity.Name;
   
}
 
<h1>Votre profil</h1>

<div>
    <h2>Modification :</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
