@page
@model suivi_des_drones.Pages.CreateIncidentModel
@inject LinkGenerator linkeGenerator
@{
    ViewData["Title"] = "Déclaration d'incident";
    string title = "Déclaration d'incident de drones";
}

<div class="container-md">
    <diV class="text-center">
        <h1 class="text-center"> @title </h1>
        <p class="lead">Formulaire pour la saisie d'incident de drone'.</p>
    </diV>
</div>
<div class="container-md">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3 row">
            <input type="file" asp-for="PictureFile"/>
        </div>
        <div class="mb-3 row">
            <button class="btn btn-primary">Envoyer</button>
        </div>
    </form>
</div>
<div class="container-md">
    <table class="table">
        <thead>
            <tr>
                <th>Numéro accident</th>
                <th>Identifiant du drone</th>
                <th>Date de l'accident</th>
                <th>Raison</th>
            </tr>
        </thead>
        <tbody id="incident">
        </tbody>
    </table>

</div>

@section scripts{
    <script> // de l'ajax
        class IncidentService {
            async loadAll() {
                const url = '@linkeGenerator.GetPathByPage(this.HttpContext,"Incident")';
                const urlApi = '/api/incident/index'
                const response = await fetch(urlApi);
                const data = await response.json();
                
                return data;
            }
        }
        
        const container = document.querySelector("#incident");
        const timer = 1000;
        
        setInterval(async() => {
            let html = '';
            const data = await (new IncidentService()).loadAll();

            data.forEach(incident => {
                //console.log(incident);
                //let row = `<span><i>NumAccident ${incident.id} - Drone : ${incident.idDrone} - Date : ${incident.dateIncident} </i></span> <br>`;
                const dateAc = new Date(incident.dateIncident);
                let row = `<tr><td>${incident.id}</td><td>${incident.idDrone}</td><td>${dateAc.toLocaleDateString('fr-FR')}</td><td>${incident.raison}</td></tr>`;
                html += row;
            });
            container.innerHTML = html;
        },timer);

    </script>
}