@page
@model suivi_des_drones.Pages.CreateIncidentModel
@inject LinkGenerator linkeGenerator
@{
    ViewData["Title"] = "Déclaration d'incident";
    string title = "Déclaration d'incident de drones";
}




<div class="container-md">
    <diV class="text-center">
        <h1 class="text-center"> @title </h1>
        <p class="lead">Formulaire pour la saisie d'incident de drone'.</p>
    </diV>
</div>
<div class="container-md">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3 row">
            <input type="file" asp-for="PictureFile"/>
        </div>
        <div class="mb-3 row">
            <button class="btn btn-primary">Envoyer</button>
        </div>
    </form>
</div>
<div id="incident">

</div>

@section scripts{
    <script> // de l'ajax
        class IncidentService {
            async loadAll() {
                const url = '@linkeGenerator.GetPathByPage(this.HttpContext,"Incident")';
                const response = await fetch(url);
                const data = await response.json();

                return data;
            }
        }
        
        const container = document.querySelector("#incident");
        const timer = 500;
        
        setInterval(async() => {
            let html = '';
            const data = await (new IncidentService()).loadAll();

            data.forEach(incident => {
                let row = `<span><i>${incident}</i></span> <br>`;
                html += row;
            });
            container.innerHTML = html;
        },timer);

    </script>
}